link(href="/stylesheets/home.style.css" rel="stylesheet")
div.immersive-wrapper
	div.center 
		span.logo
			object(data="/images/logo.svg" type="image/svg+xml" id="atmos_logo") 
		span.title atmos
script(src="/scripts/home.js" type="text/javascript")